
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.mainpage .carousel,.container{margin: 4em;}
.ad{position: relative;}
.create{position: absolute;right: 45%;top: 103%;}
.price .ad img{margin: 2em;}
.howto p{color: #999;font-size: 1.8em;line-height: 1.618em;}














